<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autocomplete</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>



<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>









<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
<!--    $( "#tags" ).autocomplete({-->
<!--      source: availableTags-->
<!--    });-->

            jQuery("#tags").autocomplete({
                source: function (request, response) {
                    jQuery.get("search", {
                        word: request.term
                    }, function (data) {
                        console.log(data['autocomplete'])
                        // assuming data is a JavaScript array such as
                        // ["one@abc.de", "onf@abc.de","ong@abc.de"]
                        // and not a string
                        response(data['autocomplete']);
                    });
                },
                minLength: 3
            });




  } );
  </script>

</body>
</html>